################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tools/vsgame/Project1/.vs
/target/
/bin/
