<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS
" /><uses-permission android:name="android.permission.ACCESS_BLUETOOTH_SHARE
" /><uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM
" /><uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES
" /><uses-permission android:name="android.permission.ACCESS_CONTENT_PROVIDERS_EXTERNALLY
" /><uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER
" /><uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER_ADVANCED
" /><uses-permission android:name="android.permission.ACCESS_DRM_CERTIFICATES
" /><uses-permission android:name="android.permission.ACCESS_EPHEMERAL_APPS
" /><uses-permission android:name="android.permission.ACCESS_FM_RADIO
" /><uses-permission android:name="android.permission.ACCESS_INPUT_FLINGER
" /><uses-permission android:name="android.permission.ACCESS_KEYGUARD_SECURE_STORAGE
" /><uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS
" /><uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION
" /><uses-permission android:name="android.permission.ACCESS_MTP
" /><uses-permission android:name="android.permission.ACCESS_NETWORK_CONDITIONS
" /><uses-permission android:name="android.permission.ACCESS_NETWORK_STATE
" /><uses-permission android:name="android.permission.ACCESS_NOTIFICATIONS
" /><uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY
" /><uses-permission android:name="android.permission.ACCESS_PDB_STATE
" /><uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER
" /><uses-permission android:name="android.permission.ACCESS_VOICE_INTERACTION_SERVICE
" /><uses-permission android:name="android.permission.ACCESS_VR_MANAGER
" /><uses-permission android:name="android.permission.ACCESS_WIFI_STATE
" /><uses-permission android:name="android.permission.ACCESS_WIMAX_STATE
" /><uses-permission android:name="android.permission.ACCOUNT_MANAGER
" /><uses-permission android:name="android.permission.ALLOW_ANY_CODEC_FOR_PLAYBACK
" /><uses-permission android:name="android.permission.ASEC_ACCESS
" /><uses-permission android:name="android.permission.ASEC_CREATE
" /><uses-permission android:name="android.permission.ASEC_DESTROY
" /><uses-permission android:name="android.permission.ASEC_MOUNT_UNMOUNT
" /><uses-permission android:name="android.permission.ASEC_RENAME
" /><uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS
" /><uses-permission android:name="android.permission.BACKUP
" /><uses-permission android:name="android.permission.BATTERY_STATS
" /><uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE
" /><uses-permission android:name="android.permission.BIND_APPWIDGET
" /><uses-permission android:name="android.permission.BIND_CARRIER_MESSAGING_SERVICE
" /><uses-permission android:name="android.permission.BIND_CARRIER_SERVICES
" /><uses-permission android:name="android.permission.BIND_CHOOSER_TARGET_SERVICE
" /><uses-permission android:name="android.permission.BIND_CONDITION_PROVIDER_SERVICE
" /><uses-permission android:name="android.permission.BIND_CONNECTION_SERVICE
" /><uses-permission android:name="android.permission.BIND_DEVICE_ADMIN
" /><uses-permission android:name="android.permission.BIND_DIRECTORY_SEARCH
" /><uses-permission android:name="android.permission.BIND_DREAM_SERVICE
" /><uses-permission android:name="android.permission.BIND_INCALL_SERVICE
" /><uses-permission android:name="android.permission.BIND_INPUT_METHOD
" /><uses-permission android:name="android.permission.BIND_INTENT_FILTER_VERIFIER
" /><uses-permission android:name="android.permission.BIND_JOB_SERVICE
" /><uses-permission android:name="android.permission.BIND_KEYGUARD_APPWIDGET
" /><uses-permission android:name="android.permission.BIND_MIDI_DEVICE_SERVICE
" /><uses-permission android:name="android.permission.BIND_NFC_SERVICE
" /><uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE
" /><uses-permission android:name="android.permission.BIND_NOTIFICATION_RANKER_SERVICE
" /><uses-permission android:name="android.permission.BIND_PACKAGE_VERIFIER
" /><uses-permission android:name="android.permission.BIND_PRINT_RECOMMENDATION_SERVICE
" /><uses-permission android:name="android.permission.BIND_PRINT_SERVICE
" /><uses-permission android:name="android.permission.BIND_PRINT_SPOOLER_SERVICE
" /><uses-permission android:name="android.permission.BIND_QUICK_SETTINGS_TILE
" /><uses-permission android:name="android.permission.BIND_REMOTEVIEWS
" /><uses-permission android:name="android.permission.BIND_REMOTE_DISPLAY
" /><uses-permission android:name="android.permission.BIND_ROUTE_PROVIDER
" /><uses-permission android:name="android.permission.BIND_RUNTIME_PERMISSION_PRESENTER_SERVICE
" /><uses-permission android:name="android.permission.BIND_SCREENING_SERVICE
" /><uses-permission android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE
" /><uses-permission android:name="android.permission.BIND_TEXT_SERVICE
" /><uses-permission android:name="android.permission.BIND_TRUST_AGENT
" /><uses-permission android:name="android.permission.BIND_TV_INPUT
" /><uses-permission android:name="android.permission.BIND_TV_REMOTE_SERVICE
" /><uses-permission android:name="android.permission.BIND_VOICE_INTERACTION
" /><uses-permission android:name="android.permission.BIND_VPN_SERVICE
" /><uses-permission android:name="android.permission.BIND_VR_LISTENER_SERVICE
" /><uses-permission android:name="android.permission.BIND_WALLPAPER
" /><uses-permission android:name="android.permission.BLUETOOTH
" /><uses-permission android:name="android.permission.BLUETOOTH_ADMIN
" /><uses-permission android:name="android.permission.BLUETOOTH_MAP
" /><uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED
" /><uses-permission android:name="android.permission.BLUETOOTH_STACK
" /><uses-permission android:name="android.permission.BRICK
" /><uses-permission android:name="android.permission.BROADCAST_CALLLOG_INFO
" /><uses-permission android:name="android.permission.BROADCAST_NETWORK_PRIVILEGED
" /><uses-permission android:name="android.permission.BROADCAST_PACKAGE_REMOVED
" /><uses-permission android:name="android.permission.BROADCAST_PHONE_ACCOUNT_REGISTRATION
" /><uses-permission android:name="android.permission.BROADCAST_SMS
" /><uses-permission android:name="android.permission.BROADCAST_STICKY
" /><uses-permission android:name="android.permission.BROADCAST_WAP_PUSH
" /><uses-permission android:name="android.permission.CACHE_CONTENT
" /><uses-permission android:name="android.permission.CALL_PRIVILEGED
" /><uses-permission android:name="android.permission.CAMERA_DISABLE_TRANSMIT_LED
" /><uses-permission android:name="android.permission.CAMERA_SEND_SYSTEM_EVENTS
" /><uses-permission android:name="android.permission.CAPTURE_AUDIO_HOTWORD
" /><uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT
" /><uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT
" /><uses-permission android:name="android.permission.CAPTURE_TV_INPUT
" /><uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT
" /><uses-permission android:name="android.permission.CARRIER_" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>